
p {
  padding: 10px 10px 10px 10px;
}
body{
  color: #414141;
  background-color: #EEEEEE;
  font-size: 18px;
}
img{
  width:auto;
  max-width: 100%;
  height: auto;
  }
section {
  text-align: center;
}
